<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | DBApp</title>
</head>

<body style="background-color: azure;">
    <h1 style="text-align: center;">Welcome to DBApp using FALSK!</h1>
    <hr>
    <form method="post">
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="text" name="sub" placeholder="Subject"><br><br>
        <input type="text" name="city" placeholder="City"><br><br>
        <input type="submit">
    </form>
    <hr>
    <a href="/showdata">Showdata</a>
</body>

</html>